.RData
.Rhistory
.Rproj.user/
_book/
*.log
*.pdf

thesis.Rmd
thesis.log
thesis.pdf
thesis.tex
thesis.bib
thesis.knit.md
thesis.utf8.md

cancermine_unfiltered.tsv
cancermine_sentences.tsv
cancermine_collated.tsv

civicmine_conservative.tsv
gene_with_protein_product.txt
nightly-ClinicalEvidenceSummaries.tsv
